* {
    all: unset;
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

#waybar > box {
    background-color: rgba(80, 80, 80, 0.6); 
    border-radius: 30px; 
    padding: 2px 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

#workspaces, #cpu, #memory, #clock, #pulseaudio, #battery, #tray, #temperature,
#disk, #backlight, #custom-arch, #custom-updates, #custom-weather, #network, #custom-gammastep { 
    color: #ffffff;
    padding: 0 10px;
}

#custom-arch, #clock, #custom-updates {
    color: #4d97ff;
    font-weight: 800;
}

#workspaces button {
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.45);
}

#workspaces button.active {
    color: #4d97ff;
    background-color: transparent;
    font-weight: bold;
}

tooltip {
    background-color: rgba(40, 40, 40, 0.95);
    border-radius: 12px;
    border: 1px solid #4d97ff;
}
